@{
    ViewData["Title"] = "Face Verification";
}

<h2>Face Verification</h2>

<div id="successDiv" class="alert alert-success d-flex align-items-center d-none" role="alert">
    <span class="fas fa-check-circle text-success fs-3 me-3"></span>
    <p class="mb-0 flex-1" id="successAlert">Face matched successfully</p>
</div>
<div id="errorDiv" class="alert alert-danger d-flex align-items-center d-none" role="alert">
    <span class="fas fa-times-circle text-danger fs-3 me-3"></span>
    <p class="mb-0 flex-1" id="errorAlert">Face does not match</p>
</div>

<div class="col-4 form-group px-1">
    <img id="ImgPriview" class="img-fluid" src="~/images/NoImage.jpeg" onclick="zoomImg(this, 'ImgPriview');" />
    <div class="mb-3">
        <label for="UserId" class="form-label">User</label>
        <select id="UserId" class="form-select border-dark" aria-label="-Select-">
            <option selected>-Select-</option>
            <option value="1">Sourav</option>
            <option value="2">Joy</option>
            <option value="3">Shubham</option>
            <option value="4">Piu</option>
            <option value="5">Tiyan</option>
            <option value="6">Paramita</option>
            <option value="7">Bipasha</option>
        </select>
    </div>
    <div class="row mx-auto px-0 d-web">
        <div class="col-4 px-1">
            <button class="btn btn-primary p-1 col-12" onclick="OpenCameraWeb();"><i class="fas fa-camera"></i></button>
        </div>
        <div class="col-4 px-1">
            <button class="btn btn-success p-1 col-12" onclick="TakePhoto();"><i class="fa fa-save"></i></button>
        </div>
        <div class="col-4 px-1">
            <button class="btn btn-primary p-1 col-12" onclick="RemoveImg();"><i class="fas fa-trash"></i></button>
        </div>
        <div class="col-6 px-1">
            <video id="video" width="400" class="d-none" autoplay></video>
            <canvas id="canvas" width="400" height="300" style="display:none;"></canvas>
        </div>
    </div>
    <div class="row mx-auto px-0 d-sm-none">
        <div class="col-6 px-1">
            <label for="ImgCamera" title="Camara" class="col-12">
                <span class="btn btn-primary col-12 px-3 py-1"><i class="fa fa-camera"></i> </span>
                <input class="d-none" id="ImgCamera" type="file" accept="image/*" capture="environment" onchange="OpenCameraMob();" />
            </label>
        </div>
        <div class="col-6 px-1">
            <button class="btn btn-primary p-1 col-12" onclick="RemoveImg();"><i class="fas fa-trash"></i></button>
        </div>
    </div>
    <br />
    <button class="btn btn-success py-1" type="button" onclick="ValidateFace();">
        <span class="fas fa-save fw-bold"></span> Validate
    </button>
</div>

<script src="~/js/face.js"></script>